<router-outlet></router-outlet>
<div class="content w-100 h-100 row">
  <app-navbar class="col-12 d-none d-sm-none d-md-block" id="navbar"></app-navbar>
  <app-navbar-movil class="col-12 d-block d-sm-block d-md-none" ></app-navbar-movil>
  <h1 class="text-center display-1">{{actividad.nombre}}</h1>
  <div id="contenedor">
    <div class="row text-justify px-2 p-2" id="informacion">
      <div class="col-6 ">Tipo de Participación: {{actividad.tipo_participacion}}</div>
      <div class="col-6">Número máximo de Participantes: {{actividad.n_max_participantes}}</div>
      <div class="col-6">Material: {{actividad.material}}</div>
      <div class="col-6"> Sexo: {{actividad.sexo}}</div>
      <div class="col-12">Descipción: {{actividad.description}}</div>
      <div class="col-6">Fecha de Inico de la Actividad: {{actividad.fecha_inicio_actividad}}</div>
      <div class="col-6">Fecha de Fin de la Actividad: {{actividad.fecha_fin_actividad}}</div>
    </div>
  </div>
  <app-footer class="col-12 d-none d-sm-none d-md-block"></app-footer>
  <app-footer-movil class="col-12 d-block d-sm-block d-md-none"></app-footer-movil>
</div>


