<router-outlet></router-outlet>
<div class="content w-100 h-100 row">
  <app-navbar class="col-12 d-none d-sm-none d-md-block" id="navbar" apartado="{{actividades.nombre}}" ></app-navbar>
  <app-navbar-movil class="col-12 d-block d-sm-block d-md-none" ></app-navbar-movil>
  <h1 class="text-center display-1">{{actividades.nombre}}</h1>
  <div class="justify-content-center overflow-auto " id="contenedor">
    <div class=" col-4 puntero mx-2 my-2"  *ngFor="let actividad of actividades.actividades" [routerLink]="['/actividad', actividad.id]">
      <h2>{{actividad.nombre}}</h2>
    </div>
  </div>
  <app-footer class="col-12 d-none d-sm-none d-md-block"></app-footer>
  <app-footer-movil class="col-12 d-block d-sm-block d-md-none"></app-footer-movil>
</div>


