<footer class="content row text-center align-items-center  px-2 " style="background-color: #f1f1f1;">
  <div class="col">
    <img src="./assets/imagenes/logo_evg.png" id="logo" class="img-fluid ">
  </div>
  <div class="col">
    <small>©2022 Actividades EVG </small>
  </div>
  <div class="col">
    <a class="text-decoration-none" href="#" ><small>Aviso Legal</small></a>
  </div>
  <div class="col">
    <a class="text-decoration-none" href="#" ><small>Política de Privacidad</small></a>
  </div>
  <div class="col">
    <a class="text-decoration-none" href="https://fundacionloyola.com/vguadalupe/" ><small>www.fundacionloyola.com</small></a>
  </div>
  <div class="col">
    <a href="https://es-es.facebook.com/preving/" ><img src="./assets/imagenes/facebook.png" class=" rounded-circle img-fluid"></a>
    <a href="https://twitter.com/GrupoPreving?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" ><img src="./assets/imagenes/twitter.png" class=" rounded-circle img-fluid"></a>
    <a href="https://www.linkedin.com/company/grupo-preving/" ><img src="./assets/imagenes/instagram.png" class=" rounded-circle img-fluid"></a>
  </div>
</footer>
