#toast{
  z-index: 1400;
  bottom: 10vh;
  right: 2vw;
  position: fixed;
  display: none;
  border: 2px solid var(--primary2);

}
#toast button{
  border: 0;
  background-color: transparent;
}
button mat-icon{
  color:white!important;
}
button mat-icon:hover{
  color:var(--primary2)!important;
}

