<a data-bs-toggle="modal" data-bs-target="#ModalAltaMomentos" class="justify-content-center" title="Añadir"><mat-icon>add_circle</mat-icon></a>
<div class="modal fade" id="ModalAltaMomentos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered text-center">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Inscripción de {{this.inscripcion}}</h2>
        <button type="button" class="btn-close" id="cerrar" data-bs-dismiss="modal"></button>
      </div>
      <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar(forma)">
        <div class="modal-body">
          <div class="mb-3" *ngIf="this.inscripcion=='Alumno'">
            <label class="form-label ">Alumno:</label>
            <select class="form-control form-select"
                    formControlName="idAlumno"
                    [class.is-invalid]="!validar('idAlumno')">
              <option value="1">Antonio</option>
              <option value="2">Marta</option>
              <option value="3">Alejandro</option>
            </select>
            <small class="form-text text-danger" *ngIf="!validar('idAlumno')">Debe seleccionar alumnos</small>
          </div>
          <div class="mb-3" *ngIf="this.inscripcion!='Alumno'">
            <div class="form-checks">
              <input class="form-check-input mx-2" type="checkbox"
                     formControlName="idClase" [class.is-invalid]="!validar('idClase')"
                     value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                  Clase
              </label>
            </div>
            <small class="form-text text-danger" *ngIf="!validar('idClase')">Debe marcar la clase</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.resetForm(forma)">Cancelar</button>
          <button type="submit" class="btn btn-primary" >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
