.btn-primary{
  background-color:var(--primary2);
  border-color: var(--primary2) !important;
}
.btn-primary:hover{
  background-color: #e59200 !important;
}
label{
  font-size: 1.2rem;
}
input[type=date] {
  width: 100%;
}

/*Select multiple*/
:host::ng-deep.selected-item {
   border-radius: 6px !important;
   background: var(--primary2) !important;
   border: 1px solid var(--primary2) !important;
 }
:host::ng-deep.selected-item a:hover{
  color: red!important;
}
:host::ng-deep ng-multiselect-dropdown .multiselect-item-checkbox input[type=checkbox] + div:before {
  border: 2px solid var(--primary2) !important;
}

:host::ng-deep ng-multiselect-dropdown .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  background: var(--primary2) !important;
}

/*---------------------------------------*/

@media (max-width: 992px) {
  mat-icon {
    font-size: 3rem;
  }
}
