<div class="modal fade" id="ModalAltaMomentos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered text-center">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Inscripción de {{this.inscripcion}}</h2>
        <button type="button" class="btn-close" #botonCerrar data-bs-dismiss="modal" (click)="this.resetForm(forma)"></button>
      </div>
      <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar(this.forma,botonCerrar)">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label ">{{this.inscripcion}}</label>
            <ng-multiselect-dropdown formControlName="idInscrito" [class.is-invalid]="!validar('idInscrito')"
              [placeholder]="'aaa'"
              [settings]="dropdownSettings"
              [data]="dropdownList">
            </ng-multiselect-dropdown>
            <small class="form-text text-danger" *ngIf="!validar('idInscrito')">Debe seleccionar {{this.inscripcion}}</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.resetForm(forma)">Cancelar</button>
          <button type="submit" class="btn btn-primary" >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
