.btn-primary{
  background-color:var(--primary2);
  border-color: var(--primary2) !important;
}
.btn-primary:hover{
  background-color: #e59200 !important;
}
label{
  font-size: 1.2rem;
}
input[type=date] {
  width: 100%;
}

/*---------------------------------------*/

@media (max-width: 992px) {
  mat-icon {
    font-size: 3rem;
  }
}
