<a data-bs-toggle="modal" data-bs-target="#ModalAltaActividades" class="justify-content-center" title="Añadir"><mat-icon>add_circle</mat-icon></a>
<div class="modal fade" id="ModalAltaActividades" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered text-center ">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Alta de Actividad</h2>
        <button type="button" class="btn-close" #botonCerrar data-bs-dismiss="modal" (click)="this.resetForm(forma)"></button>
      </div>
      <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar(forma,botonCerrar)">
        <div class="modal-body overflow-auto ">
          <div class="mb-3">
            <label class="form-label required">Nombre:</label>
            <input class="form-control"
                   type="text"
                   formControlName="nombre"
                   [class.is-invalid]="!validar('nombre')">
            <small class="form-text text-danger" *ngIf="!validar('nombre')">Debe contener al menos 5 caracteres</small>
          </div>
          <div class="mb-3">
            <label class="form-label ">Sexo:</label>
            <select class="form-control form-select"
                   formControlName="sexo"
                   [class.is-invalid]="!validar('sexo')">
              <option value="NP">No procede</option>
              <option value="F">Femenino</option>
              <option value="M">Masculino</option>
              <option value="MX">Mixto</option>
            </select>
            <small class="form-text text-danger" *ngIf="!validar('sexo')">Debe seleccionar el sexo</small>
          </div>
          <div class="mb-3">
            <div class="form-checks">
              <input class="form-check-input" type="checkbox"
                     formControlName="esIndividual" [class.is-invalid]="!validar('esIndividual')"
                     value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Individual
              </label>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label ">Responsable:</label>
            <select class="form-control form-select"
                    formControlName="idResponsable"
                    [class.is-invalid]="!validar('idResponsable')">
              <option *ngFor="let responsable of this.responsables" value="{{responsable.idUsuario}}">{{responsable.nombre}}</option>
            </select>
            <small class="form-text text-danger" *ngIf="!validar('idResponsable')">Debe seleccionar un responsable</small>
          </div>
          <div class="mb-3">
            <label class="form-label ">Tipo de Participación:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" formControlName="tipo_Participacion" id="flexRadioDefault1" value="C">
              <label class="form-check-label" for="flexRadioDefault1">
                Categoría
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" formControlName="tipo_Participacion" id="flexRadioDefault2" value="G" >
              <label class="form-check-label" for="flexRadioDefault2">
                General
              </label>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label required">Descripción:</label>
            <textarea class="form-control"
                   type="text"
                   formControlName="descripcion"
                   [class.is-invalid]="!validar('descripcion')">
            </textarea>
          </div>
          <div class="mb-3">
            <label class="form-label required">Material:</label>
            <input class="form-control"
                   type="text"
                   formControlName="material"
                   [class.is-invalid]="!validar('material')">
          </div>
          <div class="mb-3">
            <label class="form-label required">Número máximo de participantes:</label>
            <input class="form-control"
                   type="number"
                   formControlName="numMaxParticipantes"
                   [class.is-invalid]="!validar('numMaxParticipantes')">
          </div>
          <div class="mb-3">
            <label class="form-label required">Fecha Inicio Actividad:</label>
            <input class="form-control" type="datetime-local"
                   formControlName="fechaInicio_Actividad" [required]=this.requerido
                   min="{{this.substringFechas(this.fecha.toISOString())}}" max="{{this.substringFechas(this.fechaMaxima.toISOString())}}"
                   [class.is-invalid]="!validar('fechaInicio_Actividad')" />
            <small *ngIf="!validar('fechaInicio_Actividad')" class="form-text text-danger">Indique fecha de inicio de Actividad </small>
          </div>
          <div class="mb-3">
            <label class="form-label required">Fecha Finde Actividad:</label>
            <input class="form-control" type="datetime-local"
                   formControlName="fechaFin_Actividad" id="fechaFin_Actividad"
                   min="{{this.substringFechas(this.fecha.toISOString())}}" max="{{this.substringFechas(this.fechaMaxima.toISOString())}}"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.resetForm(forma)">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
