<div class="content w-100 h-100 row">
  
  <!-- Buscador -->
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Escriba aquí para buscar un momento</mat-label>
    <input [(ngModel)]="searchText" (input)="filtro() && !this.loading" matInput type="text" >
    <button matSuffix mat-icon-button aria-label="Clear" (click)="searchText = null">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-form-field>

  <!--Efecto de carga -->
  <app-loading id="loading" *ngIf="loading"></app-loading>

  <!-- Fin buscador -->

  <!-- Si terminó de cargar mostra mos los contenidos... -->
  <ng-container *ngIf="!loading">

    <div class="justify-content-center overflow-auto " id="contenedor">
      <div class="  puntero mx-2 my-2" *ngFor="let momento of filtro() " [routerLink]="['/actividades', momento.id]">
        <h2>{{momento.nombre}}</h2>
      </div>
    </div>

  </ng-container>

</div>
