<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel"><mat-icon class="text-warning">warning</mat-icon>Confirmación de Baja</h2>
        <button type="button" class="btn-close" id="cerrar" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        ¿Está seguro de que deséa dar de baja ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-danger" (click)="this.borrar()" >Borrar</button>
      </div>
    </div>
  </div>
</div>
