<div class="modal fade" id="ModalEdicionMomentos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Modificación de Momento</h2>
        <button type="button" class="btn-close" id="cerrar" data-bs-dismiss="modal"></button>
      </div>
      <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar(forma)">
        <div class="modal-body">
            <div class="mb-3">
              <label class="form-label required">Nombre:</label>
              <input class="form-control"
                     matInput
                     id="nombre"
                     value="{{test}}"
                     type="text"
                     placeholder="Escriba el nombre del momento"
                    >
            </div>
            <div class="mb-3">
              <label class="form-label required">Fecha Inicio de Momento:</label>
              <input class="form-control" type="date"
                    matInput
                    formControlName="fechaInicio_Inscripcion"
                    id="fechaInicio"
                    placeholder="yyyy-MM-dd"
                    min="{{this.fecha | date: 'yyyy-MM-dd'}}" max="{{this.fechaMaxima}}"
                    value="{{fechaInicio}}"
              />
            </div>
          <div class="mb-3">
            <label class="form-label required">Fecha Fin de Momento:</label>
            <input class="form-control" type="date"
                   formControlName="fechaFin_Inscripcion"
                   placeholder="yyyy-MM-dd"
                   min="{{this.fecha | date: 'yyyy-MM-dd'}}" max="{{this.fechaMaxima}}"
                   [value]="fechaFin"
                   />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.resetForm(forma)">Cancelar</button>
          <button type="submit" class="btn btn-primary" >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

