<app-loading id="loading" *ngIf="loading" mensaje="{{mensaje}}"></app-loading>

<ng-container *ngIf="!loading">
  <app-navbar class="col-12 d-none d-sm-none d-md-block" apartado="{{tipoGestion}}"></app-navbar>
  <app-navbar-movil class="col-12 d-block d-sm-block d-md-none" [gestionar]="this.gestion" apartado="{{tipoGestion}}"></app-navbar-movil>

  <router-outlet (activate)="onActivate($event)"></router-outlet>

  <app-footer class="col-12 d-none d-sm-none d-md-block"></app-footer>
</ng-container>
