#contenedor {
  height: 60%;
}

tr{
  vertical-align: middle;
}
a mat-icon{
  font-size: 1.7rem;
}
td a{
  padding: 7px;
}

table tbody {
  display: block;
  height: 95%;
}
table{
  height: 100%;
  margin-bottom: 0px;
}
table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
#iconomas{
  text-align: end;
}
/*---------------------------------------*/

@media (max-width: 992px) {
  #contenedor{
    margin-bottom: 10%;
  }
}
