<router-outlet></router-outlet>
<div class="content w-100 h-100 row">
  <app-navbar class="col-12 d-none d-sm-none d-md-block" apartado="{{actividades.idMomento}}" ></app-navbar>
  <app-navbar-movil class="col-12 d-block d-sm-block d-md-none" ></app-navbar-movil>

  <h1 class="text-center display-1">{{actividades.nombre}}</h1>

  <!-- Buscador -->
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Escriba aquí para buscar un momento</mat-label>
    <input [(ngModel)]="searchText" (input)="filtro()" matInput type="text" >
    <button matSuffix mat-icon-button aria-label="Clear" (click)="searchText = null">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-form-field>
  <!-- Fin buscador -->

  <a id="atras" href="javascript:history.back()"><mat-icon>arrow_circle_left</mat-icon><span>Volver Atrás</span></a>


  <div class="justify-content-center overflow-auto " id="contenedor">

    <ng-container *ngIf="filtro().length > 0">
      <div class=" col-4 puntero mx-2 my-2"  *ngFor="let actividad of filtro()" [routerLink]="['/actividad', actividad.idActividad]">
        <h2>{{actividad.nombre}}</h2>
      </div>
    </ng-container>
    <ng-container *ngIf="filtro().length < 0">
      <h2>No hay actividades creadas para este momento...</h2>
    </ng-container>

  </div>
  <app-footer class="col-12 d-none d-sm-none d-md-block"></app-footer>
</div>


