#contenedor {
  height: 70%;
}



#contenedor div{
  background-position: center;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
  background-blend-mode:multiply;

  flex: 0 1 auto !important;
  width: 40em;
  height: 20em !important;

}
#contenedor div:hover{
  border: 1px solid black;
  transition: 1s;
  transform: translate(0, 0.1) rotateY(-1deg) skewY(0deg);

  box-shadow: rgba(4, 4, 4, 0.4) 5px 5px,
  rgba(0, 0, 0, 0.3) 10px 10px, rgba(67, 67, 67, 0.2) 15px 15px,
  rgba(124, 217, 236, 0.1) 20px 20px, rgba(253, 253, 253, 0) 25px 25px;
}

#contenedor div:hover > h2 {
  transition: all 0.5s;
  font-size: 2em!important;

}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

#contenedor > div:nth-child(odd) {
  background: linear-gradient(180deg, rgb(147 210 202) 0%, rgb(0 93 255) 98%, rgb(34 94 182) 100%);
}

#contenedor > div:nth-child(even) {
  background: linear-gradient(180deg, rgba(248, 228, 178, 0.99) 0%, rgb(255, 226, 1) 98%, rgba(255,244,154,0.6110819327731092) 100%);
}
