<app-loading id="loading" *ngIf="loading"></app-loading>

<!--Efecto de carga -->

<!-- Si terminó de cargar mostramos los contenidos... -->
<div class="content w-100 h-100 componente" *ngIf="!loading">
  <h1 class="text-center display-1">{{actividades.nombre}}</h1>

  <!-- Buscador -->
  <mat-form-field class="example-form-field w-100" appearance="fill">
    <mat-label>Escriba aquí para buscar una actividad</mat-label>
    <input [(ngModel)]="searchText" (input)="filtro() && !this.loading" matInput type="text" >
    <button matSuffix mat-icon-button aria-label="Clear" (click)="searchText = null">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-form-field>
  <!-- Fin buscador -->

  <a id="atras" href="javascript:history.back()"><mat-icon>arrow_circle_left</mat-icon><span>Volver Atrás</span></a>


  <div class="justify-content-center overflow-auto " id="contenedor">

    <ng-container *ngIf="filtro().length > 0">
      <div class=" col-4 puntero mx-2 my-2"  *ngFor="let actividad of filtro()" [routerLink]="['/actividad', actividad.idActividad]">
        <h2>{{actividad.nombre}}</h2>
      </div>
    </ng-container>
    <ng-container *ngIf="filtro().length < 1">
      <h2>No hay actividades para este momento...</h2>
    </ng-container>

  </div>

</div>


