<a data-bs-toggle="modal" data-bs-target="#ModalAltaMomentos" class="justify-content-center" title="Añadir"><mat-icon>add_circle</mat-icon></a>
<div class="modal fade" id="ModalAltaMomentos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered text-center">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Alta de Momento</h2>
        <button type="button" class="btn-close" id="cerrar" data-bs-dismiss="modal"></button>
      </div>
      <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar(forma)">
        <div class="modal-body">
            <div class="mb-3">
              <label class="form-label required">Nombre:</label>
              <input class="form-control"
                     type="text"
                     formControlName="nombre"
                     [class.is-invalid]="!validar('nombre')">
              <small class="form-text text-danger" *ngIf="!validar('nombre')">Debe contener al menos 5 caracteres</small>
            </div>
            <div class="mb-3">
              <label class="form-label required">Fecha Inicio de inscripción en Momento:</label>
              <input class="form-control" type="datetime-local"
                     formControlName="fechaInicio_Inscripcion"
                     min="{{this.substringFechas(this.fecha.toISOString())}}" max="{{this.substringFechas(this.fechaMaxima.toISOString())}}"
                     [class.is-invalid]="!validar('fechaInicio_Inscripcion')"/>
              <small *ngIf="!validar('fechaInicio_Inscripcion')" class="form-text text-danger">Indique fecha de inicio de Momento </small>
            </div>
          <div class="mb-3">
            <label class="form-label required">Fecha Fin de inscripción en Momento:</label>
            <input class="form-control " type="datetime-local"
                   formControlName="fechaFin_Inscripcion" id="fechaFin_Inscripcion"
                   min="{{this.substringFechas(this.fecha.toISOString())}}" max="{{this.substringFechas(this.fechaMaxima.toISOString())}}"
                   [class.is-invalid]="!validar('fechaFin_Inscripcion')"/>
            <small *ngIf="!validar('fechaFin_Inscripcion')" class="form-text text-danger">Indique fecha de fin de Momento </small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.resetForm(forma)">Cancelar</button>
          <button type="submit" class="btn btn-primary" >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
