<nav class=" content navbar-expand-lg bg-grey pd-2 px-2">
  <div class=" d-flex justify-content-between align-items-center">
    <div class=" px-2 p-1 ">
      <a [routerLink]="['/home']" alt="Logo EVG"><img src="./assets/imagenes/logo_evg.png" ></a>
    </div>

    <div class=" col-2 col-xl-2 align-self-center">
      <div class="content row text-center align-items-center ">
        <ng-container *ngIf="this.administrar=='true' && this.gestionar">
          <div class=" col ">
            <a matTooltip="Gestionar" [routerLink]="['/administrar', this.apartado]">
              <mat-icon>settings</mat-icon>
            </a>
          </div>
        </ng-container>
        <!-- Menú DEBUG para cambiar de cuentas... -->
        <ng-container *ngIf="appDebug">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="DEBUG, CAMBIO DE CUENTAS.">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="d_changeAccount(1)">
              <mat-icon>dialpad</mat-icon>
              <span>Cuenta coordinador</span>
            </button>
            <button mat-menu-item (click)="d_changeAccount(2)">
              <mat-icon>voicemail</mat-icon>
              <span>Cuenta profesor</span>
            </button>
            <button mat-menu-item (click)="d_changeAccount(3)">
              <mat-icon>notifications</mat-icon>
              <span>Cuenta tutor</span>
            </button>
          </mat-menu>
          
        </ng-container>
        <div class="col ">
          <a matTooltip="Cerrar sesión" (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
