nav{
  height: 100%;
  width: 100%;

}
a img{
  width: 12.5rem!important;
}
mat-icon{
  font-size: 2.5em;
}
.iconos{
  width: 12%;
}
.actual{
   color:var(--primary1) !important;
   border-bottom: 3px solid var(--primary1) !important;
 }
.dropdown-menu {
  transform: translate(-70px, 41px) !important;
}

/*---------------------------------------*/

@media (max-width: 992px) {
  /*
    #imagen{
      display:none;
    }
    div p{
      display:none;
    }
    h1{
      color: var(--primary1) !important;
    }*/
}

