<nav class=" content navbar-expand-lg bg-grey pd-2 px-2">
  <div class=" d-flex justify-content-between align-items-center">
    <div class=" px-2 p-1 ">
      <a [routerLink]="['/home']" alt="Logo EVG"><img src="./assets/imagenes/logo_evg.png" ></a>
    </div>
    <div class=" col-2 col-xl-2 align-self-center">
      <div class="content row text-center align-items-center ">
        <ng-container *ngIf="this.coordinador">
          <div class=" col ">
            <a matTooltip="Gestionar momentos" [routerLink]="['/administrar', this.apartado]">
              <mat-icon>settings</mat-icon>
            </a>
          </div>
        </ng-container>
        <div class="col ">
          <a matTooltip="Estadisticas" [routerLink]="['/estadisticas']">
            <mat-icon>trending_up</mat-icon>
          </a>
        </div>
        <div class="col ">
          <a matTooltip="Cerrar sesión" (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
