:root {
  --primary1: #00425c;
  --primary2: #f69d00;
  --dark: #000000;
  --light: #ffffff;
  --grey: #e5e5e5;
}
html,body,main,a img{
  width: 100%;
  height: 100%;
}
body {
  color: var(--dark);
  position: relative;
}
#footer{
  position: absolute;
  bottom: 0px;
}
.componente{
  height: 84%!important;
}
.bg-grey {
  background-color: var(--grey) !important;
}

.content {
  width: 100%;
}
.row{
  --bs-gutter-x: 0;
}
a{
  color: black;
  text-decoration: none;
}
mat-icon:hover,a:hover{
  color:var(--primary2) !important;
}
h1 {
  border: 2px solid rgb(31, 30, 30);
}

/*-----*/
#contenedor {
  height: 86%;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}

.puntero:hover {
  cursor: pointer;
}

/* Tamaño del scroll */
.overflow-auto::-webkit-scrollbar,html::-webkit-scrollbar,ul::-webkit-scrollbar {
  width: 8px;
}

/* Estilos barra (thumb) de scroll */
.overflow-auto::-webkit-scrollbar-thumb,html::-webkit-scrollbar-thumb,ul::-webkit-scrollbar-thumb {
  background: var(--primary2);
  border-radius: 8px;
}

/* Estilos track de scroll */
.overflow-auto::-webkit-scrollbar-track,html::-webkit-scrollbar-track,ul::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 8px;
}
.icono{
  width: 5%;
  height: 5%;
}
/*Titulo*/
h1{
  font: 50px Roboto, "Helvetica Neue", sans-serif !important;
  background-color: var(--primary2)!important;
  margin: 0 !important;
  margin-bottom: 2px !important;
}
/*Volver atrás*/
#atras{
  width: auto!important;
}
#atras,#atras span{
  padding-left: 3px;
}
#atras span{
  vertical-align: super;
  font-weight: bold;
}
/*Modal*/
.form-control:focus,.form-check-input:focus {
  border-color:var(--primary2)!important;
  box-shadow: 0 0 0 0.25rem rgba(246, 157, 0, 0.56)!important;
}

.form-check-input:checked {
  background-color: var(--primary2)!important;
  border-color: var(--primary2)!important;
}

tr{
  vertical-align: middle!important;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 700px;
  }
}

/*-----LOADING-----*/
#loading{
  text-align: -webkit-center;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--primary2) !important;
}

/*---------------------------------------*/

@media (max-width: 992px) {
  .icono{
    width: 15%;
    height: 15%;
  }

}

html, body { height: 100%; }


