:root {
  --primary1: #00425c;
  --primary2: #f69d00;
  --dark: #000000;
  --light: #ffffff;
  --grey: #f5f5f5;
}
html,body,main,a img{
  width: 100%;
  height: 100%;
}
body {
  color: var(--dark);
}

.text-primary {
  color: var(--primary1) !important;
}

.btn {
  padding: 1rem;
}

.btn-primary {
  background-color: var(--primary1);
  border-color: var(--primary2);
}

.btn-primary:hover {
  background-color: var(--primary1);
  border-color: var(--primary2);
}

.bg-primary2 {
  background-color: var(--primary2) !important;
}

.bg-primary {
  background-color: var(--primary1) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-grey {
  background-color: var(--grey) !important;
}
.negrita{
  font-weight: bold;
}

.content {
  width: 100%;
}
.row{
  --bs-gutter-x: 0;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color:var(--primary2);
}
.fondogris{
  background-color: #f1f1f1;
}
#contenedor {
  height: 84%;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}
#contenedormin {
  min-height: 77%;
  margin: 0;
}
.puntero:hover {
  cursor: pointer;
}

/* Tamaño del scroll */
#contenedor::-webkit-scrollbar {
  width: 8px;
}

/* Estilos barra (thumb) de scroll */
#contenedor::-webkit-scrollbar-thumb {
  background: var(--primary2);
  border-radius: 8px;
}

/* Estilos track de scroll */
#contenedor::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 8px;
}
.icono{
  width: 5%;
  height: 5%;
}
#menu i:hover{
  color: var(--primary1);
}

/*---------------------------------------*/

@media (max-width: 992px) {
  .icono{
    width: 15%;
    height: 15%;
  }
  #menu{
    height: 10%;
  }
  #informacion,#informacionM,#contenido{
    width: 100%;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
