#contenedor {
  height: 70%;
  padding-bottom: 0.42rem;
}

#informacion div{
  background-position: center;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
  background-blend-mode:multiply;
  padding: 0.5rem 0rem;

  flex: 2 2 auto !important;
}
mat-panel-title, span{
  padding-right: 0.2rem;
  font-weight:bold;
}

/*Desplegable*/
mat-expansion-panel-header{
/*  background-color: #766abd !important;*/
  background: rgb(4,4,4) !important;
  background: linear-gradient(90deg, rgba(4,4,4,1) 0%, rgba(139,138,136,1) 100%) !important;
}

mat-panel-title {
  color: white !important;
  font-weight: 500 !important;
}

span > .mat-expansion-indicator {
  border-radius: 50% !important;
  background-color: white !important;
}

mat-expansion-panel{
  border-color: black !important;
  border: 1px solid black !important;
}
.example-action-buttons {
  padding-bottom: 20px;
}
mat-accordion{
  height: 12%;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

/*Pestaña*/
#pestanas{
  height: 60%;
}
li {
  width: 20%;
  text-align: center;
}
li a{
  font-size: 1.1rem;
}

.nav .active{
  color: var(--primary2)!important;
  font-weight: bold;
}
.nav-link{
  color: black;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: var(--primary2) !important;
}
.nav-tabs {
  border-bottom: 1px solid var(--primary2) !important;
}

#iconomas{
  text-align: end;
}

/*---------------------------------------*/

@media (max-width: 992px) {

}
