#contenedor {
  height: 70%;
  padding-bottom: 0.42rem;
}

#informacion div{
  background-position: center;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
  background-blend-mode:multiply;
  padding: 0.5rem 0rem;

  flex: 2 2 auto !important;
}
mat-panel-title, span{
  padding-right: 0.2rem;
  font-weight:bold;
}
/*Desplegable*/
mat-expansion-panel-header {
  background: var(--primary2)!important;
}
/*Información de Actividad*/
mat-panel-title {
  color: white !important;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

/**
  REFACTORIZAR
*/
mat-expansion-panel-header, span:nth-last-of-type {
  background-color: aqua !important;
  color: orange;
}

.mat-expansion-panel-header > span.mat-content {
  background-color: aqua !important;
  color: aqua !important;

}
/**
  FIN REFACTOR
*/

/*Pestaña*/

li {
  width: 20%;
  text-align: center;
}
li a{
  font-size: 1.1rem;
  border: 1px solid #d0d0d0;
  border-bottom: 1px solid var(--primary2) !important;
}

.nav .active{
  color: var(--primary2)!important;
  font-weight: bold;
}
.nav-link{
  color: black;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,.card,.card-header {
  border-color: var(--primary2) !important;
}
.nav-tabs {
  border-bottom: 1px solid var(--primary2) !important;
}

#iconomas{
  text-align: end;
}
#iconomas a{
  padding-right: 5rem;
}
#iconomas mat-icon {
  font-size: 4rem;
}

button:nth-child(1) {
  left:85%;
}
.text-danger{
  font-weight: bold;
}
/*---------------------------------------*/

@media (max-width: 992px) {
  li {
    width: 50%;
  }
}
