<div class="content w-100 row">
  <h1 class="text-center display-1">{{actividad.nombre}}</h1>
  <a id="atras" href="javascript:history.back()"><mat-icon>arrow_circle_left</mat-icon><span>Volver Atrás</span></a>

  <!--Efecto de carga -->
  <app-loading id="loading" *ngIf="loading"></app-loading>

  <div id="contenedor">
<!--    Información de la Actividad-->
    <div class="card">
      <div class="card-header">
        Información de la Actividad
      </div>
      <div class="card-body">
        <div class="row text-justify px-2 mx-4 m-2 " id="informacion">
            <div class="col-12 col-md-6">
              <span>Tipo de Participación:</span>
              <ng-container *ngIf="actividad.tipo_Participacion=='G'">General</ng-container>
              <ng-container *ngIf="actividad.tipo_Participacion=='C'">Categoría</ng-container>
            </div>
            <div class="col-12 col-md-6">
              <span>Número máximo de Participantes:</span>
              <ng-container *ngIf="actividad.numMaxParticipantes!=null">{{actividad.numMaxParticipantes}}</ng-container>
              <ng-container *ngIf="actividad.numMaxParticipantes==null">No hay número máximo de participantes</ng-container>
            </div>
            <div class="col-12 col-md-6">
              <span>Material:</span>
              <ng-container *ngIf="actividad.material!=null">{{actividad.material}}</ng-container>
              <ng-container *ngIf="actividad.material==null">No se necesita material</ng-container>
            </div>
            <div class="col-12 col-md-6">
              <span>Sexo:</span>
              <ng-container *ngIf="actividad.sexo!='NP'">{{actividad.sexo}}</ng-container>
              <ng-container *ngIf="actividad.sexo=='NP'">No procede</ng-container>
            </div>
            <div class="col-12 row">
              <span class="col-12 text-center">Descipción:</span>
              <ng-container *ngIf="actividad.descripcion!=''">{{actividad.descripcion}}</ng-container>
              <ng-container *ngIf="actividad.descripcion==''">No hay descripcion</ng-container>
            </div>
            <div class="col-12 col-md-6">
              <span>Fecha de Inico de la Actividad:</span>
              <ng-container *ngIf="actividad.fechaInicio_Actividad!=null">{{actividad.fechaInicio_Actividad | date:'dd/MM/yyyy hh:mm'}}</ng-container>
              <ng-container *ngIf="actividad.fechaInicio_Actividad==null">No hay fecha de inicio de la actividad</ng-container>
            </div>
            <div class="col-12 col-md-6">
              <span>Fecha de Fin de la Actividad:</span>
              <ng-container *ngIf="actividad.fechaFin_Actividad!=null">{{actividad.fechaFin_Actividad | date:'dd/MM/yyyy hh:mm'}}</ng-container>
              <ng-container *ngIf="actividad.fechaFin_Actividad==null">No hay fecha de fin de la actividad</ng-container>
            </div>
            <div class="col-12 col-md-6">
              <span>Tipo de Actividad:</span>
              <ng-container *ngIf="actividad.esIndividual!='1'">Por Clase</ng-container>
              <ng-container *ngIf="actividad.esIndividual=='1'">Es Individual</ng-container>
            </div>
            <div class="col-12 col-md-6">
              <span>Responsable:</span>{{actividad.nombreUsuario}}
            </div>
          </div>
      </div>
    </div>
    <!--Pestañas-->
    <div class="w-100" id="pestanas">
      <ul class="nav nav-tabs" >
        <li class="nav-item">
          <a class="nav-link active" id="inscritos" (click)="cambiarPestana('inscritos')">Inscritos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="inscribirse" (click)="cambiarPestana('inscribirse')">Inscribirse</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="px-2 p-2 " *ngIf="pestana">
          <table class="table table-striped text-center">
            <thead>
            <tr class="h5">
              <th *ngIf="actividad.esIndividual!='1'" scope="col">Clase</th>
              <ng-container *ngIf="actividad.esIndividual=='1'">
                <th scope="col">Alumno</th>
                <th scope="col">Clase</th>
              </ng-container>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dato of inscripcionesactividad">
              <td scope="row">{{dato.nombre}}</td>
              <td class="" *ngIf="actividad.esIndividual=='1'">
                {{dato.codSeccion}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="px-2 p-2 " *ngIf="!pestana">
          <div id="iconomas">
            <app-dialogo-formulario-inscripcion></app-dialogo-formulario-inscripcion>
          </div>
          <div class="justify-content-center px-2 p-2" id="inscripcion">
            <table class="table table-striped text-center">
              <thead>
              <tr class="h5">
                <th *ngIf="actividad.esIndividual!='1'" scope="col">Clase</th>
                <ng-container *ngIf="actividad.esIndividual=='1'">
                  <th scope="col">Alumno</th>
                  <th scope="col">Clase</th>
                </ng-container>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <!-- Iteramos con todos los datos de los apartados -->
              <tr *ngFor="let dato of inscripcionesactividad">
                <td >{{dato.nombre}}</td>
                <td class="" *ngIf="actividad.esIndividual=='1'">
                  {{dato.codSeccion}}
                </td>
                <td class="d-flex justify-content-around">
                  <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"  class="justify-content-center" title="Borrar" (click)="this.borrar(dato.id)">
                    <mat-icon class="text-danger" title="Borrar">cancel</mat-icon>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
            <app-toast></app-toast>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-dialogo-confirmacion-borrado id="{{this.id}}" borrarApart="{{this.apartado}}" class="align-self-center"></app-dialogo-confirmacion-borrado>


