<footer class="content row text-center align-items-center  px-2 bg-grey" >
  <div class="col">
  </div>
  <div class="col">
    <small>©2022 Actividades EVG </small>
  </div>
  <div class="col">
    <a class="text-decoration-none" href="#" ><small>Aviso Legal</small></a>
  </div>
  <div class="col">
    <a class="text-decoration-none" href="/privacy" ><small>Política de Privacidad</small></a>
  </div>
  <div class="col">
    <a class="text-decoration-none" href="https://fundacionloyola.com/vguadalupe/" ><small>www.fundacionloyola.com</small></a>
  </div>
  <div class="col">
  </div>
</footer>
